<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639612988752-rdhfglvpr57l5s29f2k7rntp5aemgr2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639612988752-rdhfglvpr57l5s29f2k7rntp5aemgr2g</string>
	<key>API_KEY</key>
	<string>AIzaSyD9ewj8-YtdAl-FC0PaAvX6eer_Jd71JY0</string>
	<key>GCM_SENDER_ID</key>
	<string>639612988752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netvirta.mobileKnowledgeSharingApp</string>
	<key>PROJECT_ID</key>
	<string>mobile-ks</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-ks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639612988752:ios:94d7dee661205d5d61d055</string>
</dict>
</plist>